html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh; /* 100% de la altura de la ventana gráfica */
  width: 100vw;  /* 100% del ancho de la ventana gráfica */
  margin: 0;     /* Sin márgenes */
  padding: 0;    /* Sin relleno */
}


button{
  background-color: black;
  color: white;
}